.myCart {
    box-sizing: border-box;
  }
   
.myCart{
    width: 100%;
    margin: 0;
    height:100vh;
    font-family: 'Roboto', sans-serif;
  }
  .myCart .shopping-cart {
    margin: 20px auto;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .myCart .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .myCart .item {
    justify-content:space-around;
    display: flex;
    border-bottom: 1px solid #E1E8EE;
  }

  .myCart .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .myCart button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .myCart .minus-btn img {
    margin-bottom: 3px;
  }
  .myCart .plus-btn img {
    margin-top: 2px;
  }
   
  
  .myCart .icon{
    margin-top: 30px;
  }
  .myCart .total-price {
    width: 200px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .myCart .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .myCart .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .myCart .image img {
      width: 50%;
    }
    .myCart .image,
    .myCart .quantity,
    .myCart .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .myCart .buttons {
      margin-right: 20px;
    }
  }