

/* .confirmCart .left {
    width: 70%;
    float: left;
    clear: both;
} */

/* .confirmCart .right {
    width: 30%;
    float: right;
    margin-bottom: 25px;
} */

.confirmCart {
    height: auto;
    padding: 50px;
}



.confirmCart #wrapper #container {
    background: white;
    min-width: 800px;
    width: 1200px;
    margin:0 auto;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);

}

.confirmCart #wrapper #container #left-col {
    background: #000;
    color:#fff;
}
.itemConfirm img{
    width: 60px;
}

 .meta-col .meta-text{
    margin:0;
    font-size: 0.8em !important;
    color:#fff !important;
}

.confirmCart #wrapper #container #left-col #left-col-cont p#total {
    text-transform: uppercase;
    text-align: right;
    font-size: 0.7em;
    opacity: .5;
    margin: 115px 0 5px 0;
}

.confirmCart #wrapper #container #left-col #left-col-cont h4#total-price {
    font-size: .2em !important;
    margin: 0;
}

.confirmCart #wrapper #container #left-col #left-col-cont h4#total-price span {
    color: #1c2834;
}

.confirmCart #wrapper #container #right-col h2 {
    float: left;
    margin: 6px 0 0 0;
}

#logotype img{
    float: right !important;
    margin: 4px 0 0 0;
}

#logotype img {
    width: 60px !important;
    height: auto;
}

#logotype img #visa {
    margin-top: -10px;
}

.confirmCart #wrapper #container form {
    margin:  auto ;
    width: 85%;
}

.confirmCart #wrapper #container form #cardnumber {
    background: white;
    width: calc(100% - 14px);
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.confirmCart #wrapper #container form #cardnumber input {
    display: inline-block;
    width: calc(25% - 23px);
    padding: 4px 6px;
    letter-spacing: 6px;
    font-size: 0.9em;
    border: none;
    background: none;
}

.confirmCart #wrapper #container form #cardnumber input ::-webkit-input-placeholder {
    opacity: .5;
}

.confirmCart #wrapper #container form #cardnumber input ::-moz-placeholder {
    opacity: .5;
}

.confirmCart #wrapper #container form #cardnumber input [type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confirmCart #wrapper #container form #cardnumber span.divider {
    color: rgba(0, 0, 0, .3);
}

.confirmCart #wrapper #container form label {
    display: block;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 14px 0 4px;
}

.confirmCart #wrapper #container form label #cvc-label i {
    cursor: pointer;
    margin-left: 3px;
}

.confirmCart #wrapper #container form input {
    display: block;
    padding: 6px 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    font-size: 0.9em;
    width: 300px !important;
}
.phoneNumber{
    width: 200px !important;
}

.cvccss{
    width:100px !important;
    margin-bottom: 10px;
}
.confirmCart #wrapper #container form input {
    border: 1px solid lightgrey;
    border-radius: 2px;
    background: none;
    font-weight: 500;
    font-size: 0.9em;
    padding: 6px 8px;
    color: rgba(0, 0, 0, .2);
}
.formConfirm{
    margin-bottom: 20px;
}
.confirmCart #wrapper #container form button {
    display: block;
    width: 300px;
    border: none;
    border-radius: 2px;
    padding: 8px 0;
    background:#333 !important;
    margin-bottom: 8px;
    font-size: 0.8em;
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.confirmCart #wrapper #container form button #purchase {
    color: white;
    margin: 0 0 8px;
    font-size: 0.9em;
}

.confirmCart #wrapper #container form button #paypal {
    background: none;
    border: 1px solid lightgrey;
}

.confirmCart #wrapper #container form button #paypal i {
    color: #003087;
}

.confirmCart #wrapper #container form button #paypal i:hover {
    background: #003087;
    border-color: #003087;
    color: white;

    color: #009cde;
}

.confirmCart #wrapper #container form p#support {
    font-size: 0.7em;
    color: rgba(0, 0, 0, .5);

   
}
.confirmCart #wrapper #container form p#support a {
    text-decoration: none;
    color: inherit;
    padding: 0 1px 2px 1px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.confirmCart #wrapper #container form p#support a:hover {
    padding-bottom: 3px;
}
